body {
    background-color: #ffffe6;
}


div.albumCover {
    background-image: url('img/mouseRat.jpg');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
    height: 250px
}